{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 35px; color:white;font-family: 'Inter'">
    <div class="row">
        <div class="col-4 new-card">
            Карточка спортсмена
        </div>
        <div class="col-5 offset-3 new-card">
            Достижения спортсмена
        </div>
    </div>
    <div class="row">
        <div class="col-4 name" style="color: black;">{{ info_student[0] }}</div>
    </div>
    <div class="row">
        <div class="col-4 new-card"><span class="age-text">Возраст</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ info_student[1] }}</div>
    </div>
    <div class="row">
        <div class="col-4 main-card" style="color: black; text-align: justify;">
            <div>Разряд&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;КМС</div>
            <!--Тут будет изображение в будущем-->
            <div>Тренер&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ info_student[2] }}
            </div>
            <div>Группа&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ info_student[3] }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
